.t3-icon-actions {
	cursor: pointer;
}

.t3-button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
}
h1 .t3-button {
	margin-right: 0;
}
h1 .small {
	font-size: .7em;
}
.align-right {
	text-align: right;
}